<div class="container">
  <div class="col-md-6">

    <h1>All Photos</h1>

    <a href="/photos/new">Add a new photo</a>


    <% @list_of_photos.each do |a_photo|  %>
    <div class="thumbnail">
      <img src="<%= a_photo.source %>">

      <div class="caption">
        <a href="/photos/<%= a_photo.id %>" class="btn btn-default btn-block">
          Show Details
        </a>

        <a href="/photos/<%= a_photo.id %>/edit" class="btn btn-default btn-block">
          Edit
        </a>

        <a href="/delete_photo/<%= a_photo.id %>" class="btn btn-default btn-block">
          Delete
        </a>
      </div>
    </div>
    <% end %>

  </div>
</div>
